ul {
    list-style-type: none;
}

li {
  display: inline-block;
  margin: 10px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: green;
}

a:hover {
  text-decoration: underline;
}
